{% extends 'base.html' %}

{% block title %} | Our tiles Inventory {% endblock %}
{% block content %}

{% load humanize %}
<!-- Sub banner start -->


<div class="w3-row w3-container ">
    <br><br><br>
    <div class="w3-col s8  w3-center w3-hide-small max-w-7xl">
        <p>
            <div class="">
                <div class="mx-auto max-w-7xl px-4 sm:px-2 lg:px-2">
                  <div class="mx-auto max-w-2xl  sm:py-2 lg:max-w-none lg:py-2">
                    <h2 class="text-2xl font-bold text-gray-900"></h2>
              
                    <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                        {% for tile in tiles %}
                        <div class="group relative">
                        <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                          <img src="{{tile.tile_photo.url}}" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
                        </div>
                        <h3 class="mt-6 text-black font-bold ">
                            <h1 class="title">
                                <a href="{% url 'tile_detail' tile.id %}">{{tile.tile_title}}</a>
                            </h1>
                        </h3>
                        <div class="w3-row">
                            <div class="w3-col s6  w3-center">
                                <button type="button" class="px-2  rounded-lg px-12 py-2 text-xs font-medium text-center text-black bg-blue-50 "><b>{{tile.transmission}}</b></button>
                                </div>
                                <div class="w3-col s6  w3-center">
                                    <button type="button" class=" rounded-lg w3-block px-3 py-2 text-xs font-medium text-center text-black bg-gray-200 "><b>{{tile.body_style}}</b></button>
                                    </div>
                          
                          </div>
                      </div>
              
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
        </p>
      </div>
      <!--bigscreen-->
      <div class="w3-col   w3-center w3-hide-large w3-hide-medium">
        <p>
            <div class="">
                <div class="mx-auto max-w-7xl px-4 sm:px-2 lg:px-2">
                  <div class="mx-auto max-w-2xl  sm:py-2 lg:max-w-none lg:py-2">
                    <h2 class="text-2xl font-bold text-gray-900"></h2>
              
                    <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                        {% for tile in tiles %}
                        <div class="group relative">
                        <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                          <img src="{{tile.tile_photo.url}}" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
                        </div>
                        <h3 class="mt-6 text-black font-bold ">
                            <h1 class="title">
                                <a href="{% url 'tile_detail' tile.id %}">{{tile.tile_title}}</a>
                            </h1>
                        </h3>
                        <div class="w3-row">
                            <div class="w3-col s6  w3-center">
                                <button type="button" class="px-2  rounded-lg px-12 py-2 text-xs font-medium text-center text-black bg-blue-50 "><b>{{tile.transmission}}</b></button>
                                </div>
                                <div class="w3-col s6  w3-center">
                                    <button type="button" class=" rounded-lg w3-block px-3 py-2 text-xs font-medium text-center text-black bg-gray-200 "><b>{{tile.body_style}}</b></button>
                                    </div>
                          
                          </div>
                      </div>
              
                      {% endfor %}
                    </div>
                  </div>
s                </div>
              </div>
        </p>
      </div>
<!--big screen-->
<div class="">
    <div class="w3-col s4 w3-container py-2">
      <div class="py-2 w3-hide-small" style="width: 20rem;">
        <img class="card-img-top " src="https://i.postimg.cc/SxhYGbRJ/f3-Kfz9e-1-1-removebg-preview.png" alt="Card image cap">
      </div>
<form action="{% url 'tilesearch' %}" method="" class="w3-hide-small">
    <div class="mb-2">
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="model">
            <option selected="true" disabled="disabled">Model</option>
            {% for model in model_search %}
              <option value="{{model}}">{{model}}</option>
            {% endfor %}
        </select> </div> 
    <div class="mb-2">
        <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="city">
            <option selected="true" disabled="disabled">Location</option>
            {% for city in city_search %}
              <option value="{{city}}">{{city}}</option>
            {% endfor %}
        </select> </div> 




            
            <div class="mb-2">
                <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="body_style">
                    <option selected="true" disabled="disabled">Select Type</option>
                    {% for body_style in body_style_search %}
                      <option value="{{body_style}}">{{body_style}}</option>
                    {% endfor %}
                </select> </div> 

                
    
    <div class="flex items-start mb-6">
      <div class="form-group">
        <button class="w3-black w3-button w3-round w3-block">
            <i class="fa fa-search"></i> Search
        </button>
    </div>
    </form>

    </div>   
</div>
<!--smallscreen-->

<div class="w3-col s12 w3-hide-large w3-hide-medium">
  <div class="py-2" style="width: 10rem;">
    <img class="card-img-top " src="https://i.postimg.cc/SxhYGbRJ/f3-Kfz9e-1-1-removebg-preview.png" alt="Card image cap">

  </div>
<!--big screen-->
<form action="{% url 'tilesearch' %}" method="" class="">
 
  <div class="mb-2 ">
      <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="model">
          <option selected="true" disabled="disabled">Model</option>
          {% for model in model_search %}
            <option value="{{model}}">{{model}}</option>
          {% endfor %}
      </select> </div> 
  <div class="mb-2">
      <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
      <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="city">
          <option selected="true" disabled="disabled">Location</option>
          {% for city in city_search %}
            <option value="{{city}}">{{city}}</option>
          {% endfor %}
      </select> </div> 




          
          <div class="mb-2">
              <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
              <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="body_style">
                  <option selected="true" disabled="disabled">Select Type</option>
                  {% for body_style in body_style_search %}
                    <option value="{{body_style}}">{{body_style}}</option>
                  {% endfor %}
              </select> </div> 

              
  
  <div class="flex items-start mb-6">
    <div class="form-group">
      <button class="w3-black w3-button w3-round w3-block">
          <i class="fa fa-search"></i> Search
      </button>
  </div>
  </form>
</div>   


  </div>
  <br><br><br><br>
         

<!-- Featured car end -->

{% endblock %}
